USE [master]
GO
/****** Object:  Database [Kasa]    Script Date: 11/25/2019 1:34:52 AM ******/
CREATE DATABASE [Kasa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kasa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Kasa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kasa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Kasa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kasa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kasa]
GO
/****** Object:  Table [dbo].[Roba]    Script Date: 11/25/2019 1:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roba](
	[ID] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Kolicina] [varchar](50) NOT NULL,
	[Cijena] [smallmoney] NULL,
 CONSTRAINT [PK_ROba] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roba] ([ID], [Naziv], [Kolicina], [Cijena]) VALUES (1, N'Test', N'135', 90.0000)
INSERT [dbo].[Roba] ([ID], [Naziv], [Kolicina], [Cijena]) VALUES (2, N'Test2', N'90', 12.0000)
INSERT [dbo].[Roba] ([ID], [Naziv], [Kolicina], [Cijena]) VALUES (3, N'Test3', N'15', 155.0000)
USE [master]
GO
